body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1933px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1946px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:1920px;
  height:1946px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:94px;
  background:inherit;
  background-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:1920px;
  height:94px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FADADD;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:36px;
  width:182px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FADADD;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:uppercase;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:39px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:38px;
  height:38px;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:1713px;
  top:39px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:38px;
  height:38px;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1573px;
  top:39px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:38px;
  height:38px;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:32px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:38px;
  height:38px;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:32px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:38px;
  height:38px;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:1870px;
  width:147px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -webkit-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -moz-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  text-transform:uppercase;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1870px;
  width:306px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -webkit-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -moz-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  text-transform:uppercase;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:1870px;
  width:315px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -webkit-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -moz-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  text-transform:uppercase;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:64px;
  color:#000000;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:629px;
  width:410px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:64px;
  color:#000000;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -webkit-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -moz-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  text-transform:uppercase;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:64px;
  color:#000000;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:803px;
  width:1390px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:64px;
  color:#000000;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -webkit-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -moz-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  text-transform:uppercase;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1757px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:64px;
  color:#000000;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:898px;
  width:1757px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Lato-Regular", "Lato", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:64px;
  color:#000000;
  text-align:left;
  line-height:16px;
  text-transform:uppercase;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -webkit-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -moz-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  text-transform:uppercase;
}
